.formacao-academica {
  background: #EAF2FD;
}

.formacao-academica__titulo {
  text-align: center;
  font-weight: bold;
}

.formacao-container, .formacao-descricao-container  {
  display: flex;
}

.formacao-conteudo {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formacao-conteudo:last-child, .formacao-descricao-conteudo:last-child {
  margin-right: 0;
}

.formacao-descricao {
  display: flex;
}

.formacao-descricao-conteudo {
  width: calc(33.9% - 1rem);
  margin-right: 0.85rem;
  margin-top: 0.5rem;
}

.formacao-descricao-conteudo__titulo {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 0) {
  .formacao-academica {
    padding-bottom: 2rem;
  }
  .formacao-academica__titulo {
    font-size: 1.375rem;
    padding: 2rem 0;
  }
  .formacao-container{
    flex-direction: column;
  }
  .formacao-descricao {
    display: none;
  }
  .formacao-conteudo {
    width: 100%;
    height: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  .formacao-conteudo__logo {
    width: 120px;
    height: 60px;
  }
  .descricao-mobile__descricao {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width:768px) {
  .formacao-container, .formacao-descricao  {
    flex-direction: row;
  }
  .formacao-conteudo {
    height: 118px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formacao-conteudo__logo {
    width: 102px;
    height: 60px;
  }

  .formacao-descricao {
    display: flex;
  }

  .descricao-mobile {
    display: none;
  }
}

@media screen and (min-width:992px) {
  .formacao-academica {
    padding-bottom: 5.125rem;
  }
  .formacao-academica__titulo {
    font-size: 2rem;
    padding: 5.1rem 0 2rem 0;
  }
  .formacao-container, .formacao-descricao  {
    flex-direction: row;
    display: flex
  }
  .formacao-conteudo {
    height: 286px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .descricao-mobile {
    display: none;
  }

  .formacao-conteudo__logo {
    width: 192px;
    height: 130px;
  }
}