.sobre-mim {
  background: #EAF2FD;
}

.sobre-mim__container {
  display: flex;
  flex-direction: column;
}

.sobre-mim__titulo {
  font-weight: bold;
  color: #464646;
  margin-bottom: 1rem;
}

.sobre-mim__conteudo {
  color: #464646;
}

.sobre-mim__conteudo:nth-last-child(3n) {
  margin-bottom: 1rem;
}

.sobre-mim__conteudo:nth-last-child(2n) {
  margin-bottom: 1rem;
}

.sobre-mim__img {
  width: 140px;
  height: 52px;
}

@media screen and (min-width: 0) {
  .sobre-mim {
    padding: 1rem 0;
  }
  .sobre-mim__titulo {
    font-size: 1.375rem;
  }
  .sobre-mim__conteudo {
    width: 100%;
    line-height: 1.0275rem;
    font-size: 0.875rem;
  }
}

@media screen and (min-width:768px) {
  .sobre-mim {
    padding: 2rem 0;
  }
}

@media screen and (min-width:992px) {
  .sobre-mim {
    padding: 4rem 0;
  }
  .sobre-mim__titulo {
    font-size: 2rem;
  }
  .sobre-mim__conteudo {
    width: 751px;
    line-height: 1.17rem;
    font-size: 1rem;
  }
}