body {
  font-family: 'Raleway', sans-serif;
  color: #464646;
}

/* Inicio do header */

.header {
  background: #F5F5F5;
}

.container-header {
  width: 80%;
  margin: 34.5px auto 66.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-inicial {
  display: flex;
  align-items: center;
}

.titulo-inicial {
  margin-left: 8px;
  font-weight: bold;
}

.nav-lista  {
  display: flex;
}

.nav-lista a {
  text-decoration: none;
  color: #464646;
  font-family: 'Raleway', sans-serif;
  margin-left: 2rem; 
}

.nav-lista a:hover {
  font-size: 14px;
}

.nav-lista li:last-child {
  font-weight: bold;
}

/* Inicio da apresentacao */

.apresentacao {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.apresentacao-coluna {
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}

.apresentacao-titulo-conteudo {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #464646;
}

.apresentacao-coteudo {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #464646;
}

.apresentacao-sociais-lista {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.apresentacao-sociais-lista a {
  text-decoration: none;
  color: #464646;
}

.apresentacao-sociais-lista a:hover{
  border-bottom: 2px solid #464646;
  font-size: 1.2rem;
}

.apresentacao-sociais-lista img {
  margin-right: 2rem;
}

.apresentacao-img {
  height: 368px;
  width: 368px;
  border-radius: 100%;
}

/* inicio sobre mim */

.sobre-mim {
  background: #EAF2FD;
}

.sobre-mim-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.sobre-mim-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #464646;
}

.sobre-mim-conteudo {
  width: 751px;
  margin: 1rem 0;
  color: #464646;
  line-height: 1.17rem;
}

.sobre-mim-img {
  width: 140px;
  height: 52px;
}

/* Inicio skills */

.skills, .hobbies {
  background: #F5F5F5;
}

.skills-titulo {
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.skills-box, .hobbies-box {
  display: grid;
  width: 80%;
  height: 174px;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 176px);

}

.skills-lista, .hobbies-lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: white;
  padding: 1rem;
}

.skills-texto, .hobbies-texto {
  padding-top: 12px;
  font-weight: bold;
}

.hobbies-titulo {
  padding: 5.5rem 0 2rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}